.Sponsor {
  background-color: #2B2B2B;
  padding: 20px 0;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  color: rgb(200, 200, 200);
  font-weight: 500;
}

.container span {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 150px; /* Ajusta el ancho según sea necesario */
  margin-right: 20px;
}

.slide img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.slide img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Ajusta el valor según sea necesario */
  }
}

@media (max-width: 768px) {
  .slide {
    width: 100px;
    margin-right: 15px;
  }
  .container span {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .slide {
    width: 80px;
    margin-right: 10px;
  }
  .container span {
    font-size: 1em;
  }
}

